go 1.26.0

use (
	.
	./lint
	./lint/upstream
	./packages/rslint-bridge
	./packages/rslint-upstream
	./packages/tsgo-bridge
	./packages/typescript-go-upstream
)

replace github.com/microsoft/typescript-go/shim/api => ./packages/rslint-upstream/shim/api

replace github.com/microsoft/typescript-go/shim/api/encoder => ./packages/rslint-upstream/shim/api/encoder

replace github.com/microsoft/typescript-go/shim/ast => ./packages/rslint-upstream/shim/ast

replace github.com/microsoft/typescript-go/shim/bundled => ./packages/rslint-upstream/shim/bundled

replace github.com/microsoft/typescript-go/shim/checker => ./packages/rslint-upstream/shim/checker

replace github.com/microsoft/typescript-go/shim/collections => ./packages/rslint-upstream/shim/collections

replace github.com/microsoft/typescript-go/shim/compiler => ./packages/rslint-upstream/shim/compiler

replace github.com/microsoft/typescript-go/shim/core => ./packages/rslint-upstream/shim/core

replace github.com/microsoft/typescript-go/shim/evaluator => ./packages/rslint-upstream/shim/evaluator

replace github.com/microsoft/typescript-go/shim/jsonrpc => ./packages/rslint-upstream/shim/jsonrpc

replace github.com/microsoft/typescript-go/shim/ls => ./packages/rslint-upstream/shim/ls

replace github.com/microsoft/typescript-go/shim/lsp/lsproto => ./packages/rslint-upstream/shim/lsp/lsproto

replace github.com/microsoft/typescript-go/shim/project => ./packages/rslint-upstream/shim/project

replace github.com/microsoft/typescript-go/shim/scanner => ./packages/rslint-upstream/shim/scanner

replace github.com/microsoft/typescript-go/shim/tsoptions => ./packages/rslint-upstream/shim/tsoptions

replace github.com/microsoft/typescript-go/shim/tspath => ./packages/rslint-upstream/shim/tspath

replace github.com/microsoft/typescript-go/shim/vfs => ./packages/rslint-upstream/shim/vfs

replace github.com/microsoft/typescript-go/shim/vfs/cachedvfs => ./packages/rslint-upstream/shim/vfs/cachedvfs

replace github.com/microsoft/typescript-go/shim/vfs/osvfs => ./packages/rslint-upstream/shim/vfs/osvfs
